{% extends 'mcl/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Topic Add{%endblock%}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Topic Add</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'mcl:dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Settings</a></li>
              <li class="breadcrumb-item active">Topic Add</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row mb-2">
          <div class="col-12 card">
            <div class="card-header">
              <h1 class="card-title">
                Topic Add
              </h1>
            </div>
            <div class="card-body">
              {% if messages %}
              <div class="row">
                <div class="col-md-12">
                  {% for message in messages %}
                  <div class="alert alert-{% if message.tags %}{{ message.tags }} {% endif %}" role="alert">
                    <p class="mb-0 text-center">{{ message }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
              
                <form method="POST" enctype="multipart/form-data">
                  {% crispy form %}
                  <input type="submit" value="Submit" class="mt-2 btn btn-success">
                </form>
       
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block extra_js %}

{% endblock %}